@import "../../../../_styles/base";

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.navbarLogoSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    border-bottom: 1px solid #333;
    background-color: #6366f1;
}

.navbarLinksSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.navbarUserButtonSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    border-top: 1px solid #333;
}