$break-xs: 36rem; // 576px
$break-xs-sm: 42rem; // 672px
$break-sm: 48rem; // 768px
$break-sm-md: 54rem; // 864px
$break-md: 60rem; // 960px
$break-md-lg: 68rem; // 1080px
$break-lg: 75rem; // 1200px
$break-lg-xl: 83rem; // 1320px
$break-xl: 90rem; // 1440px