@import "@colors";

.tableContainer {
    overflow-x: auto;
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
}

.table {
    padding: 20px;
    width: 100%;
    white-space: nowrap;
    min-height: 75vh;
    max-height: 75vh;
    border-collapse: collapse;
}

/* TABLE HEAD */
.tableHead {
    background-color: $indigo-200;
}

.tableHeadCell {
    font-weight: bold;
    text-align: center !important;
    border-top: 1px solid $gray-400 !important;
    border-bottom: 1px solid $gray-400 !important;
}

/* TABLE BODY */
.tableBody {
    background-color: $white;

    &:focus {
        outline: none;
    }
}

.tableBodyRow {
    &:nth-child(even) {
        background-color: $indigo-50;
    }

    &:hover {
        background-color: $indigo-200;
    }
}

.selectedTableBodyRow {
    background-color: $indigo-600 !important;
    color: $white !important
}

.tableBodyCell {
    text-align: center !important;
    border-bottom: 1px solid $gray-300 !important;
    font-weight: bold;
}

/* OTHER */
.actionButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
