@import "../../../../../../_styles/colors";

.formFieldValue {
    color: $gray-900;
    background-color: $indigo-200;
    padding: 5px 10px;
    border-radius: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}